<html>
<head>
  <title>Contact Us</title>
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="/services">Our Services</a>
    <a href="/contact">Contact us</a>
  </nav>
  <h1>Contact Us</h1>
  <p>Feel free to get in touch with us for any inquiries or assistance. We are here to help! We await you</p>
  <!-- Your contact information or contact form can be added here -->
</body>
</html>
